a {
  text-decoration: none;
}

.ad {
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  border-radius: 5px;
  overflow: hidden;
  width: 281px;
  height: 290px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ad p {
  margin: 0px;
}

.ad pre {
  margin: 0px;
}

.ad:hover {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
}

.ad .btnHeart {
  background-color: transparent;
  border: none;
}

.ad .btnHeart svg {
  color: gray;
}

.ad .dateAd {
  width: 69px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  overflow: hidden;
  margin: 0px;
  font-family: "ComfortaaRegular";
  padding: 0px;
  color: gray;
}

.ad .mainImg {
  width: 100%;
  height: 186px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  background-size: cover;
  -webkit-transition: 1s  background-size;
  transition: 1s  background-size;
  background-position: center;
}

.ad .mainImg:hover {
  -webkit-transition: 1s  background-size;
  transition: 1s  background-size;
}

.ad .lineAd {
  width: 100%;
  height: 3px;
  background-color: #59BA44;
  margin-top: -4px;
}

.ad .subCont {
  background-color: #FFFFFF;
  height: 90.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.ad .subCont a {
  color: black;
}

.ad .subCont .flexCont1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "ComfortaaRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-top: 17px;
}

.ad .subCont .flexCont1 p {
  width: 225px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.ad .subCont .nameCostumer {
  font-family: "ComfortaaRegular";
  color: rgba(150, 150, 150, 0.83);
  font-size: 14px;
  height: 300px !important;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ad .subCont .flexCont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "ComfortaaRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.ad .subCont .flexCont2 p {
  font-family: "ComfortaaRegular";
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.ad .subCont .flexCont2 p img {
  margin-right: 3px;
}

@media only screen and (max-width: 420px) {
  .ad .dateAd {
    width: 64.3px;
    overflow: hidden;
    color: gray;
  }
  .ad .mainImg {
    width: 100%;
    height: 186px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    background-size: cover;
    background-position: center;
  }
  .ad .lineAd {
    width: 100%;
    height: 3px;
    margin-top: -4px;
  }
  .ad .subCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ad .subCont .flexCont1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "ComfortaaRegular";
    font-size: 13px;
    margin-top: 5px;
    height: auto;
  }
  .ad .subCont .flexCont1 p {
    white-space: nowrap;
    width: 120px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ad .subCont .nameCostumer {
    font-family: "ComfortaaRegular";
    color: rgba(150, 150, 150, 0.83);
    font-size: 14px;
    height: auto !important;
    margin-bottom: 0px;
    height: auto;
    width: 225px;
  }
  .ad .subCont .flexCont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: "ComfortaaRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
  }
}
/*# sourceMappingURL=ad.css.map */