a {
  text-decoration: none;
}

.ad {
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  border-radius: 5px;
  overflow: hidden;
  width: 281px;
  height: 290px;
  -webkit-box-shadow: 0px 4px 52px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 52px 9px rgba(0, 0, 0, 0.25);
}

.ad:hover {
  -webkit-box-shadow: 0px 4px 102px 9px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 4px 102px 9px rgba(0, 0, 0, 0.55);
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
}

.ad .btnHeart {
  background-color: transparent;
  border: none;
}

.ad .dateAd {
  width: 73px;
  font-size: 12px;
  overflow: hidden;
}

.ad .mainImg {
  width: 100%;
  height: 156px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  background-size: cover;
  -webkit-transition: 1s  background-size;
  transition: 1s  background-size;
  background-position: center;
}

.ad .mainImg:hover {
  background-size: 120%;
  -webkit-transition: 1s  background-size;
  transition: 1s  background-size;
}

.ad .lineAd {
  width: 100%;
  height: 3px;
  background-color: #59BA44;
  margin-top: -4px;
}

.ad .subCont {
  background-color: #FFFFFF;
  height: 133.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.ad .subCont .flexCont1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "FuturicaRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-top: 17px;
}

.ad .subCont .flexCont1 p {
  color: black;
}

.ad .subCont .nameCostumer {
  font-family: "Futurica";
  color: rgba(150, 150, 150, 0.83);
  font-size: 14px;
  height: 300px !important;
  overflow: hidden;
  margin-bottom: 0px;
  margin-left: 3px;
}

.ad .subCont .flexCont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Futurica;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.ad .subCont .flexCont2 p {
  font-family: Futurica;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.ad .subCont .flexCont2 p img {
  margin-right: 3px;
}
/*# sourceMappingURL=ad.css.map */