a 
{
    text-decoration: none;
}

.ad
{
    transition: 1s box-shadow;
    border-radius: 3px;
    &:hover 
    {
        box-shadow: 0px 4px 102px 9px rgba(0, 0, 0, 0.55);
        transition: 1s box-shadow;

    }
    width: 281px;
    height:290px;
    box-shadow: 0px 4px 52px 9px rgba(0, 0, 0, 0.25);
    .dateAd
    {
        width: 73px;
        font-size: 12px;
        overflow: hidden;
    }
    .mainImg 
    {
        width: 100%;
    height: 156px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    background-size: cover !important;
    }
    .lineAd 
    {
        width:100%;
        height: 3px;
        background-color: #59BA44;
        margin-top:-4px;
    }
    .subCont
    {
        background-color: #FFFFFF;
        height:133.5px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        .flexCont1
        {
            display: flex;
            justify-content:space-between;
            align-items:center;
            font-family: "FuturicaRegular";
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            margin-top:17px;
            p 
            {
                color: black;
            }
        }
        .nameCostumer
        {
            font-family: "Futurica";
            color: rgba(150,150,150,0.83) ;
            font-size: 14px;
            height: 300px !important; 
            overflow: hidden;
            margin-bottom: 10px;
            margin-left: 3px;
        }
        .flexCont2
        {
            display: flex;
            justify-content:space-between;
            align-items:center;
            font-family: Futurica;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            p 
            {
                font-family: Futurica;
                font-style: normal;
                display: flex;
                justify-content:center;
                align-items: center;
                font-weight: normal;
                font-size: 13px;
                color: rgba(0,0,0,0.5); 
                
                
                img 
                {
                    margin-right: 3px;
                }
            }
        }
    }
}
