.mastersCont {
  transition: 1s box-shadow;
  border-radius: 3px;
  border-radius: 5px;
  overflow: hidden;
  width: auto;
  height: 200px;
  display: flex;
  box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-between;
}

.mastersCont:hover {
  box-shadow: 0px 4px 102px 9px rgba(0, 0, 0, 0.55);
  transition: 1s box-shadow;
}

.mastersCont .masterImg {
  width: 150px;
  height: 100%;
  background-color: #fff;
  background-size: cover !important;
  border: none;
}

.mastersCont .masterImgBtn {
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.mastersCont .heartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  width: 45px;
  align-self: flex-end;
  border: none;
  background-color: transparent;
}

.mastersCont .heartBtn svg {
  color: gray;
}

.mastersCont .aboutText {
  padding-left: 5px;
  height: 90%;
  padding-top: 5%;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: url(../../images/component/background/masterAboutBg.svg);
  text-align: start;
  row-gap: 5px;
}

.mastersCont .aboutText .name {
  font-size: 18px;
  color: black;
  text-align: start;
  margin: 0px;
  font-family: "ComfortaaRegular";
}

.mastersCont .aboutText .job {
  font-size: 17px;
  font-family: "ComfortaaRegular";
  color: #F97922;
  margin: 0px;
}

.mastersCont .aboutText .location {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.mastersCont .aboutText .location img {
  margin-right: 5px;
  width: 15px;
  height: auto;
}

.mastersCont .aboutText .rating {
  font-size: 11px;
  font-family: "ComfortaaRegular";
  margin-left: 10px !important;
  margin-top: -10px !important;
}

.mastersCont .aboutText .job {
  font-size: 12px;
}

.mastersCont .aboutText .stars {
  display: flex;
}

.mastersCont .aboutText .heart {
  align-self: flex-end;
}
