.mastersCont {
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  border-radius: 3px;
  border-radius: 5px;
  overflow: hidden;
  width: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mastersCont:hover {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  -webkit-transition: 0.5s -webkit-box-shadow;
  transition: 0.5s -webkit-box-shadow;
  transition: 0.5s box-shadow;
  transition: 0.5s box-shadow, 0.5s -webkit-box-shadow;
}

.mastersCont .masterImg {
  width: 150px;
  height: 100%;
  background-color: #fff;
  background-size: cover !important;
  border: none;
}

.mastersCont .masterImgBtn {
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.mastersCont .heartBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  width: 45px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background-color: transparent;
}

.mastersCont .heartBtn svg {
  color: gray;
}

.mastersCont .aboutText {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 5px;
  height: 100%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../../images/component/background/masterAboutBg.svg);
  text-align: start;
  row-gap: 5px;
}

.mastersCont .aboutText .name {
  font-size: 18px;
  width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  text-align: start;
  margin: 0px;
  height: 27px !important;
  font-family: "ComfortaaRegular";
}

.mastersCont .aboutText .name a {
  color: black !important;
}

.mastersCont .aboutText .job {
  width: 195px;
  font-size: 18px !important;
  font-family: "ComfortaaRegular";
  color: #F97922;
  margin: 0px;
}

.mastersCont .aboutText .location {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.mastersCont .aboutText .location img {
  margin-right: 5px;
  width: 15px;
  height: auto;
}

.mastersCont .aboutText .rating {
  font-size: 13px;
  margin-bottom: 0px;
  font-family: "ComfortaaRegular";
  margin-left: 5px !important;
}

.mastersCont .aboutText .job {
  font-size: 12px;
}

.mastersCont .aboutText .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mastersCont .aboutText .heart {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=ad2.css.map */