.mastersCont
{
    transition: 1s box-shadow;
    border-radius: 3px;
    border-radius: 5px ;
    overflow: hidden;
    width:auto;
    height:200px;
    display:flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-items: center;
    justify-content: space-between;
    &:hover 
    {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        transition: 0.5s box-shadow;

    }
    .masterImg 
    {
        width: 150px;
        height: 100%;
        background-color: #fff;
        background-size: cover !important;
        border: none;
    }
    .masterImgBtn
    {
        width: 100%;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border: none;
    }
    .heartBtn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        width: 45px;
        align-self: flex-end;
        border: none ;
        background-color: transparent;
        svg
        {
            color: gray;
        }
    }
    .aboutText
    {

        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 5px;
        height:100%;
        width: 200px;
        display: flex;
        flex-direction: column;
        background: url(../../images/component/background/masterAboutBg.svg);
        text-align: start;
        row-gap: 5px;
        .name {
            font-size: 18px;
            width: 190px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: black;
            text-align: start;
            margin: 0px;height: 27px !important;
            font-family: "ComfortaaRegular";
        }
        .job 
        {
            width: 195px;
            font-size: 18px !important;
            font-family: "ComfortaaRegular";
            color: #F97922;
            margin: 0px;
        }
        .location 
        {
            font-size: 15px;
            display: flex;
            align-items:center;
            margin-bottom: 0px;
            img 
            {
                margin-right: 5px;
                width: 15px;
                height: auto;
            }
        }
        .rating
        {
            font-size: 13px;
            margin-bottom: 0px;
            font-family: "ComfortaaRegular";
            margin-left: 5px !important;
        }
        .job
        {
            font-size: 12px;
        }
        .stars 
        {
            display: flex;
        }
        .heart 
        {
            align-self: flex-end;
        }
    }
}