

.addvertise 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    .generalCont
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .reklamCont
        {
            width: 100%;
            font-size: 21px;
            color: black;
            height: auto;
            display: flex;
            .reklamText
            {
                margin-left: 10%;
                p 
                {
                    margin: 0px;
                }
                .reklamTitle 
                {
                    color:black;
                    margin-bottom: 50px;
                    font-size: 28px;
                    font-family: "ComfortaaRegular";
                    text-align: center;
                    margin-left: -70px;
                }
                .reklamDescription
                {
                    color: black;
                    opacity: 0.5;
                    p 
                    {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .aboutText
        {
            width: 80%;
            font-size: 21px;
            color: black;
            opacity: 0.5;
            height: auto;
        }
        .errors
            {
                margin-bottom: 10px;
                height: 30px;
                margin-top: 5px;
                width: 403px;
                color: red;

            }
        

    }
    .linkAndButton
    {
        width: 100%;
        .link
        {
            margin-left: 30px;
            margin-top: 52.5px;
            margin-bottom: 52.5px;
            p 
            {
                margin: 0;
            }
        }
        
    }
    .formCont
    {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button 
        {
            margin-top: 50px;
        }
        form 
        {
            width: 80%;
            display: flex;
        flex-direction: column;
        align-items: center;
        }
        .formTitle
        {
            font-size: 28px;
            font-family: "ComfortaaRegular";
            text-align: center;
            margin-bottom: 50px;
        }
        .gridContForm
        {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 100%;
            grid-row-gap: 60px;
            align-content: center;
            justify-items: center;
            .errors
            {
                width: 75%;
                color: red;
            }
            input 
            {
                height: 28.5px;
                border: none;
                width: 100%;
                border-bottom: 2px solid gray;
                font-family: "FuturicaRegular";
                &:focus 
                {
                    outline: none;
                }
                &::placeholder
                {
                    font-family: "FuturicaRegular";
                }
            }
        }
        textarea 
        {
            width: 84%;
            margin-top: 50px;
            padding: 20px;
            border: 2px solid gray;
            font-family: "FuturicaRegular";
            &::placeholder
            {
                font-family: "FuturicaRegular";
            }
        }
    }
    .statistica
    {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        margin-top: 100px;
        background-color: crimson;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        background: url("../../images/component/background/statisticBg.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        p 
        {
            margin: 0px;
        }
        .gridCont1
        {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 90%;
            height: 129px;
            align-content: center;
            justify-items: center;
            font-size: 29px;
            font-family: "FuturicaRegular";
            grid-row-gap: 29px;
            margin-top: 70px;
            color: white;
        }
        .gridCont2
        {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 60%;
            height: 129px;
            align-content: center;
            justify-items: center;
            font-size: 29px;
            font-family: "FuturicaRegular";
            grid-row-gap: 29px;
            margin-top: 70px;
            color: white;
            .whiteImg1
            {
                width: 21px;
            }
            .whiteImg2
            {
                width: 31px;
            }
            .whiteImg3
            {
                width: 27px;
            }
            .whiteImg4
            {
                width: 32px;
            }
            p 
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                img 
                {
                    width: 25px;
                }
                span 
                {
                    margin-left: 20px;
                    font-size: 20px;
                    font-family: "ComfortaaRegular";
                }
            }
        }

        .mainLogo
        {
            margin-top: -70px;
            margin-right: 10%;
            align-self: flex-end;
        }
        margin-bottom: 100px;
        
    }
    .underLine
        {
            width: 90%;
            height: 1px;
            border: none;
            background:#FFFFFF;
            opacity: 0.5;
            margin-top: 31px;
        }
}



//Mobile 
@media only screen and (max-width: 1146px) {

    .addvertise 
    {
        .reklamCont
        {
            .reklamTitle
            {
                margin-left: 0px !important;
            }
            .reklamText
            {
                display: flex;
                flex-direction: column;
                align-items: center;                
                width: 100%;
                padding-left: 2.5%;
                padding-right: 2.5%;
                margin-left: 0px !important;
                text-align: center;
            }
        }
        .formCont
        {
            width: 100% ;
            form 
            {
                width: 95%;
                .gridContForm
                {
                    grid-template-columns: repeat(1,1fr);
                    grid-row-gap: 25px;
                }
                .errors
                {
                    width: 90% !important;
                }
                textarea 
                {
                    width: 100%;
                }
            }
        }

    }

}