.commentsCont
{
    width: 1073px;
    align-self: flex-start;
    margin-top: 50px;
}
.titleComments 
{
    color: black;
    text-align: center;
    font-family: "ComfortaaRegular";
    font-size: 37px;
}