@media only screen and (max-width: 1120px) {
  footer .upSide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #313131;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .socialImgs {
  margin-top: 29px;
  margin-right: -5px;
}

.footer .socialImgs img {
  margin-right: 8.5px;
}

.footer .mailSubs {
  background: url("../../images/component/background/footerBG.jpg") no-repeat;
  width: 291px;
  height: 185px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "ComfortaaRegular";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.footer .mailSubs .aboutPart {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75.5px;
  margin-right: 10%;
}

.footer .mailSubs .aboutPart p {
  margin: 0;
}

.footer .mailSubs .aboutPart .button {
  width: 71px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#68A735), to(#58BC40));
  background: linear-gradient(90deg, #68A735 0%, #58BC40 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0.5px;
}

.footer .mailSubs .aboutPart .button .text {
  border: 1px solid white;
  width: 66px !important;
  height: 80%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 7px;
  font-family: "FuturicaRegular";
}

.footer .mailSubs .aboutPart .button .text .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 2px;
}

.footer .mailSubs .aboutPart .button .text .img:nth-child(1) {
  margin-left: 5px;
}

.footer .mailSubs .aboutPart .button:focus {
  outline: none;
}

.footer .upSide {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: auto;
          column-gap: auto;
  height: auto;
  padding-top: 71px;
  padding-bottom: 62px;
}

.footer .upSide .number {
  margin: auto;
  margin-top: 10px;
}

.footer .upSide .number p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "FuturicaRegular";
  width: 210px;
  font-size: 16px;
  margin-top: 24px;
}

.footer .upSide .number p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer .upSide .number p:nth-child(1) {
  margin: 0;
}

.footer .upSide .number p img {
  margin-right: 8px;
}

.footer .upSide .elements1 {
  margin: auto;
  font-size: 19px;
  color: white;
  font-family: "ComfortaaRegular";
}

.footer .upSide .elements1 a {
  color: white;
}

.footer .upSide .elements1 p {
  margin: 0;
  letter-spacing: 4.5px;
  margin-top: 10px;
}

.footer .upSide .elements2 {
  margin: auto;
  font-size: 19px;
  color: white;
  font-family: "ComfortaaRegular";
}

.footer .upSide .elements2 a {
  color: white;
}

.footer .upSide .elements2 p {
  margin: 0;
  letter-spacing: 4.5px;
  margin-top: 10px;
}

.footer .downSide {
  height: 51px;
  width: 100%;
  margin-bottom: 10px;
}

.footer .downSide hr {
  width: 99.9%;
  opacity: 0.5;
}

.footer .downSide p {
  margin: 0;
  margin-top: 12px;
}

.footer .downSide .text {
  font-size: 17px;
  color: rgba(229, 229, 229, 0.5);
  font-family: "ComfortaaRegular";
  margin-left: 10%;
}
/*# sourceMappingURL=footer.css.map */