.footer
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #313131;
    align-items: center;
}
.social
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialImgs
{
    margin-top: 29px;
    margin-right: -5px;
    img 
    {
        margin-right: 8.5px;
    }
}
.mailSubs
{
    background: url("../../images/component/background/footerBG.jpg") no-repeat;
    width: 291px;
    height: 185px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-family: "ComfortaaRegular";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    .aboutPart
    {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 75.5px;
        margin-right: 10%;

        p 
        {
            margin: 0;
        }
        .button 
        {
            width: 71px;
            height: 16px;
            background: linear-gradient(90deg, #68A735 0%, #58BC40 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:none;
            padding: 0.5px;
            .text 
            {
                border: 1px solid white;
                width: 66px !important;
                height: 80%;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 7px;
                font-family: "FuturicaRegular";
                .img 
                {
                    display: flex;
                    justify-content:center;
                    align-self: center;
                    width: 2px;
                    &:nth-child(1)
                    {
                        margin-left: 5px;
                    }
                }
            }
            &:focus 
            {
                outline: none;
            }
        }
    }
    
}
.upSide
{   
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-top: 71px;
    padding-bottom: 62px;
    .number 
    {
        p 
        {
            display: flex;
            align-items: center;
            color: white;
            font-family: "FuturicaRegular";
            width: 210px;
            font-size: 16px;
            margin-top: 24px;
            a {
                display: flex;
            align-items: center;
            color: white;
            }
            &:nth-child(1)
            {
                margin: 0;
            }
            img 
            {
                margin-right: 8px;

            }
        }   
    }
    .elements1
    {
        font-size: 19px;
        color: white;
        font-family: "ComfortaaRegular";
        a 
        {
            color: white;
        }
        p 
        {
            margin: 0;
            margin-top: 24px;
            letter-spacing: 4.5px;

            &:nth-child(1)
            {
                margin: 0;
            }
        }
    }
    .elements2
    {
        font-size: 19px;
        color: white;
        font-family: "ComfortaaRegular";
        a 
        {
            color: white;
        }
        p 
        {
            margin: 0;
            letter-spacing: 4.5px;

            margin-top: 27px;
            &:nth-child(1)
            {
                margin: 0;
            }
        }
    }
} 

.downSide
{   
    height: 51px;
    width: 100%;
    hr 
    {
        width: 99.9%;
        opacity: 0.5;
    }
    p 
    {
        margin: 0;
        margin-top: 12px;
    }
.text
    {
        font-size: 17px;
        color: rgba(229, 229, 229, 0.5);
        font-family: "ComfortaaRegular";
        margin-left: 10%;
        
    }
}