@media only screen and (max-width: 1170px) {
  .navbar .text {
    width: 100px !important;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: initial !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navbar .imgAndLink {
    color: black !important;
    font-family: "ComfortaaRegular";
  }
  .navbar .text {
    width: 60px !important;
  }
}

.swiperTitle {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "ComfortaaRegular";
}

.swiperTitle p {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiperTitle .login {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: "ComfortaaRegular";
}

.swiperTitle .login img {
  margin-right: 14.5px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.swiperTitle .login .userImgCont {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 10px;
  background-color: black;
  margin-bottom: 4px;
}

.swiperTitle .login:focus {
  outline: none;
}

.swiperTitle .login p {
  margin: 0px;
}

.btnMenu {
  height: 36px;
  padding: 0px;
  margin: 0px;
  width: 35px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
}

.MuiListItem-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: 700;
}

.MuiListItem-button a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MuiListItem-button button {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 700;
}

.iconSwiper {
  display: -ms-grid !important;
  display: grid !important;
  -webkit-column-gap: 10px !important;
          column-gap: 10px !important;
  width: 200px !important;
  -ms-grid-columns: 30px 170px !important;
      grid-template-columns: 30px 170px !important;
  font-size: 25px !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  justify-items: start !important;
  width: 100% !important;
}

.iconSwiper svg {
  height: 40px !important;
}

.searchDW .searchbox {
  padding-top: 0px;
}

.searchDW .searchbox .title, .searchDW .searchbox .subTitle {
  display: none;
}

.searchDW .searchbox .searchCont {
  border-radius: 0px;
  background-color: white;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-bottom: 30px;
}

.searchDW .searchbox .searchCont .dropdownCont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.searchDW .searchbox .searchCont .dropdownCont .dropbtn {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
  width: auto;
  border-right: 0px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.searchDW .searchbox .searchCont .dropdownCont .dropbtn .makeStyles-formControl-3 {
  width: 150px !important;
}

.searchDW .searchbox .searchButton {
  height: 40px;
  width: 200px;
}

.MuiDrawer-paper {
  width: 100% !important;
}

.topContainer {
  width: 100%;
  height: 730px;
  background: url(../../images/page/background/HomePageBG.png) no-repeat;
  background-size: cover;
}

.topContainer .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 80px;
  row-gap: 20px;
  top: 0;
  background-color: transparent;
  z-index: 30;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
}

.topContainer .navbar .searchNavIco {
  border: none;
  background-color: transparent;
}

.topContainer .navbar .searchNavIco svg {
  width: 35px;
  height: 35px;
  color: #F97922;
}

.topContainer .navbar p {
  margin-bottom: 0px;
}

.topContainer .navbar .navlogo {
  width: 70px;
}

.topContainer .navbar .imgAndLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
}

.topContainer .navbar .text {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "ComfortaaRegular";
}

.topContainer .navbar .text a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topContainer .navbar .text a p {
  margin: 0px;
}

.topContainer .navbar .text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
  text-decoration: none !important;
  color: white;
}

.topContainer .navbar .text .login {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-family: "ComfortaaRegular";
}

.topContainer .navbar .text .login img {
  margin-right: 14.5px;
}

.topContainer .navbar .text .login .userImgCont {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 10px;
  background-color: black;
  margin-bottom: 4px;
}

.topContainer .navbar .text .login:focus {
  outline: none;
}

.topContainer .navbar .text .login p {
  margin: 0px;
}

.topContainer .navbar .text .putAd {
  width: 132px;
  height: 41px;
  background-color: #5ABA42;
  color: white;
  letter-spacing: 1px;
  font-size: 11px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 121px;
  font-family: "ComfortaaRegular";
}

.topContainer .navbar .text .putAd span {
  margin-right: 5px;
  font-size: 24px;
}

.topContainer .navbar .text .putAd:focus {
  outline: none;
}
/*# sourceMappingURL=header.css.map */