//Mobile 
@media only screen and (max-width: 1170px) {
    .navbar 
    {
        .text
        {
            width: 100px !important;
        } 

    }
    
}
//Mobile 
@media only screen and (max-width: 500px) {
    .navbar 
    {
        position: initial !important;
        justify-content: space-between;
        background-color: white !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .imgAndLink
        {
            color: black !important;
            font-family: "ComfortaaRegular";
        }
        .text
        {
            width: 60px !important;
        } 
    }
    
}

.swiperTitle
{
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "ComfortaaRegular";
    .nameL 
    {
        display: block;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login {
        img 
        {
            margin-right: 14.5px;
            filter: invert(1);
        }
        .userImgCont
        {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid gray;
            margin-right: 10px;
            background-color: black;
            margin-bottom: 4px;
        }
        background-color: transparent;
        display: flex;
        align-items: center;
        border: none;
        padding-left:10px ;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        &:focus {
            outline:none;
        }
        p
        {
            margin: 0px;
        }
        font-family: "ComfortaaRegular";
        
    }
}

.btnMenu
{
    height: 36px;
    padding: 0px;
    margin: 0px;
    width: 35px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.MuiListItem-button
{
    
    a 
    {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: black;
        font-weight: 700;
        p 
        {
            display: flex ; 
            justify-content: center ;
            align-items: center ;
        }
    }
    button 
    {
        border: none;
        background-color: transparent;
        color: black;
        font-weight: 700;
    }
}
.iconSwiper
{
    display: grid !important;
    column-gap: 10px !important;
    width: 200px !important;
    grid-template-columns: 30px 170px !important;
    font-size: 25px !important;
    align-content: center !important;
    align-items: center !important;
    justify-content:  center !important;
    justify-items: start !important;
    width: 100% !important;
    &:nth-child(1)
    {
        svg 
        {
            width: 30px;
            height: 50px !important;
        }
    }
    svg 
    {
        height: 40px !important;
    }
}
.searchDW
{
    .searchbox
    {
        padding-top: 0px;
        .title,.subTitle
        {
            display: none;
        }
        .searchCont
        {
            border-radius: 0px;
            background-color: white;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            height: auto;
            margin-bottom: 30px;

            .dropdownCont
            {
                flex-direction: column;
                width: 100%;
                .dropbtn
                {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    height: 90px;
                    width: auto;
                    border-right: 0px;
                    column-gap: 20px;
                    justify-content: flex-start;
                    .makeStyles-formControl-3
                    {
                        width: 150px !important;
                    }
                }
            }

        }
        .searchButton
        {
            height: 40px;
            width: 200px;
        }

    }
}
.MuiDrawer-paper {
    width: 100% !important;
}
.topContainer
{
    width: 100%;
    height: 730px;   
    background: url(../../images/page/background/HomePageBG.png) no-repeat;
    background-size: cover;
    .navbar
    {
        .searchNavIco
        {
            border: none;
            background-color: transparent;
            svg 
            {
                width: 35px;
                height: 35px;
                color: #F97922;
            }
        }
        p 
        {
            margin-bottom: 0px;
        }
        .navlogo
        {
            width: 70px;
        }
        .imgAndLink
        {
            display: flex;
            column-gap: 10px;
            align-items: center;
            color: white;
            font-size: 18px;
        }

        width: 100%; 
        display:flex;
        justify-content:space-around; 
        align-items:center;
        position: fixed;
        height: 80px;
        row-gap: 20px;
        top: 0;
        background-color: transparent;
        z-index: 30;
        box-shadow: transparent;
        .text
        {
            width: 85%;
            display:flex;
            justify-content:space-between; 
            align-items:center;
            flex-wrap: wrap;
            font-family: "ComfortaaRegular";
            a {
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                p 
                {
                    margin: 0px;
                }
            }
            p
            {
                display:flex;
                align-items:center;
                color: white;
                font-size: 18px;
                text-decoration: none !important;
                color: white;
            }
            .login 
            {
                img 
                {
                    margin-right: 14.5px;
                }
                .userImgCont
                {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid gray;
                    margin-right: 10px;
                    background-color: black;
                    margin-bottom: 4px;
                }
                background-color: transparent;
                display: flex;
                align-items: center;
                border: none;
                padding-left:10px ;
                padding-right: 10px;
                cursor: pointer;
                &:focus {
                    outline:none;
                }
                p
                {
                    margin: 0px;
                }
                font-family: "ComfortaaRegular";

                
            }
            .putAd
            {
                width: 152px;
                height: 37px;
                background-color: #5ABA42;
                color:white;
                letter-spacing: 1px;
                font-size: 12px;
                border:none;
                display:flex;
                justify-content:center;
                align-items:center;
                border-radius: 121px;
                font-family: "ComfortaaRegular";
                span
                {
                    margin-right: 5px;
                    font-size: 18px;
                }
                &:focus {
                    outline:none;
                }
            }
        }

    }//Navbar
}
