.mastersPage 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .generalCont
    {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contForBtnImg
    {
        display: flex;
        justify-content: center;
        align-items: center;
        .topButton
        {
            z-index: 3;
        }
        
    }
    .mastersCont
    {
        width: 378px;
        height: 214px;
        .aboutText
        {
            width: 165px;
            height:100%;
        }
    }
    .linkAndButton
    {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        height: 130px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        .link
        {
            margin-top: 52.5px;
            margin-bottom: 52.5px;
            p 
            {
                margin: 0;
            }
        }
        .topButton
        {
            align-self: center;
            justify-self: center;
            padding: 0px;
            margin: 0px;
            width: 229px;
            height: 98px;
            border: none;
            color: #F6F7FB;
            font-family: "ComfortaaRegular";
            background-image: url("../../images/component/element/animatedButton.svg") ;
            background-size:100%;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position:  center;
            &:focus {
                outline: none;
            }
            
        }
        .topButtonHover
        {
            align-self: center;
            justify-self: center;
            padding: 0px;
            margin: 0px;
            width: 229px;
            height: 98px;
            border: none;
            color: #F6F7FB;
            font-family: "ComfortaaRegular";
            background-image: url("../../images/component/element/animatedButton.svg") ;
            background-size:100%;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position:  center;
            
        }
    }
    
    
    
    .subBanner
    {
        width: 90%;
        margin-top: 30px;
    }
        

    .topButtonHover:hover
    {
        background-image: url('../../images/component/element/butonPainted2.svg') ;
        background-size: cover;
        background-position: center;
        width: 229px;
        height: 98px;
    }
    .adsContainer
    {
        margin-top: 50px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        gap: 30px;
        margin-bottom: 50px;
        .Vipmasters
        {
            margin-top: 50px;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            gap: 30px;
            margin-bottom: 50px;
        }
        .masters
        {
            margin-top: 50px;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            gap: 30px;
            margin-bottom: 50px;
        }
        
    }
    
}


//Mobile 
@media only screen and (max-width: 612px) {
    .generalCont
    {
        width: 100%;
        .linkAndButton
        {
            grid-template-columns: repeat(1,1fr);
            margin-bottom: 10px;
            .link 
            {
                padding: 0px;
                margin: 0px;
                margin-top: 30px;
            }
            .topButton
            {
                margin-top: 30px;
            }
        }
    }
    
}
