.searchbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 210px;
}

.searchbox p {
  margin: 0;
}

.title {
  font-size: 51px;
  font-family: "ComfortaaRegular";
  color: white;
}

.subTitle {
  font-size: 21px;
  font-family: "FuturicaRegular";
  color: white;
  margin-top: 15px;
}

.searchCont {
  margin-top: 55px;
  width: 744px;
  height: 52px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdownCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchButton {
  width: 151px;
  height: 51.46px;
  border-radius: 47px;
  border: none;
  background: #F27B29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-family: "FuturicaRegular";
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchButton img {
  margin-right: 5px;
}

.searchButton:focus {
  outline: none;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 100%;
  padding-right: 19.5px;
  background-color: transparent;
  color: #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  border-right: 2px solid rgba(150, 150, 150, 0.5);
  height: 35px;
}

.dropbtn:focus {
  outline: none;
}

.dropbtn img {
  margin-right: 10px;
}

.dropbtn1 {
  margin-left: 30px;
}

.dropbtn3, .dropbtn2 {
  margin-left: 13px;
}

.dropbtn3 {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
}

.dropdown:focus {
  outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70%;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  height: auto;
  margin-top: 8px;
  max-height: 404px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-content::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}

.dropdown-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
  height: 10px;
}

.dropdown-content .searchBtn {
  border: none;
}

.dropdown1 {
  width: 160px;
  margin-left: 25px;
}

.dropdown2 {
  width: 135px;
  margin-left: 5px;
}

.dropdown3 {
  width: 155px;
  margin-left: 4px;
}

/* Links inside the dropdown */
.dropdown-content button {
  padding: 12px 16px 15px 0;
  text-decoration: none;
  display: block;
  color: gray;
  font-family: "FuturicaRegular";
  border-bottom: 1px dashed rgba(242, 123, 41, 0.5) !important;
  background-color: #fff;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: black;
}

/* Show the dropdown menu on hover */
/* Change the background color of the dropdown button when the dropdown content is shown */
/*# sourceMappingURL=searchBox.css.map */