.selectedCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.selectedCompany .generalCont {
  width: 90%;
}

.selectedCompany .link {
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

.selectedCompany .link p {
  margin: 0;
}

.selectedCompany .frameAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selectedCompany .frameAndText .aboutAd {
  margin-left: 55px;
  width: 732px;
}

.selectedCompany .frameAndText .aboutAd .title {
  font-size: 28px;
  color: black;
  font-family: "ComfortaaRegular";
}

.selectedCompany .frameAndText .aboutAd .subTitle {
  height: 100px;
  overflow: hidden;
}

.selectedCompany .frameAndText .aboutAd .subTitle p {
  font-family: "FuturicaRegular";
  font-size: 14px;
  color: #616161;
  opacity: 0.63;
}

.selectedCompany .frameAndText .aboutAd .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 203px;
  padding-left: 15px;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  font-size: 12px;
  color: #969696;
  opacity: 0.83;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  width: 752px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks .worksCanDo {
  width: 345px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a {
  border-right: 1px solid rgba(150, 150, 150, 0.28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-left: 15px;
  padding-right: 15px;
  color: #7B7C7E;
  font-size: 12px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a .district {
  font-size: 12px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(1) {
  width: 206px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a .imgAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a img {
  margin-right: 5px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(1) {
  margin-left: 0px;
  font-size: 12px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(3) {
  border: none;
  width: 250px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(2) {
  padding: 0px;
  margin: 0px;
  width: 255px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(2) span {
  width: 80px;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  margin-top: 36px;
  width: 100%;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  opacity: 0.5;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons p img {
  margin-right: 5px;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons button p {
  color: white;
  opacity: 1;
  font-family: "FuturicaRegular";
}

.selectedCompany .frameAndText .aboutAd .bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 732px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .phoneOfMaster {
  border-right: 1px solid rgba(150, 150, 150, 0.28);
  min-width: 187px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .phoneOfMaster p {
  margin: 0px;
  font-size: 12px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 252px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(150, 150, 150, 0.28);
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster img {
  width: 17px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  font-size: 11px;
  color: #969696;
  opacity: 0.83;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .social {
  height: 46px;
  width: 100px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .social p {
  margin: 0px;
}

.selectedCompany .frameAndText .aboutAd .bottomLines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.selectedCompany .frameAndText .aboutAd .bottomLines img {
  width: 86px;
  height: auto;
}

.selectedCompany .frameAndText .aboutAd .bottomLines hr {
  margin: 0;
  width: 35%;
  background-color: #59B93F;
}
/*# sourceMappingURL=selectedCompany.css.map */