.selectedAd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.selectedAd .generalCont {
  width: 90%;
}

.selectedAd .link {
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

.selectedAd .link p {
  margin: 0;
}

.frameAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frameAndText .aboutAd {
  margin-left: 55px;
  width: 732px;
  margin-top: 100px;
}

.frameAndText .aboutAd .title {
  font-size: 28px;
  color: black;
  font-family: "ComfortaaRegular";
}

.frameAndText .aboutAd .subTitle {
  font-family: "FuturicaRegular";
  font-size: 14px;
  color: #616161;
  opacity: 0.63;
  max-height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.frameAndText .aboutAd .aboutLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
}

.frameAndText .aboutAd .aboutLinks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-left: 15px;
  padding-right: 15px;
  color: #7B7C7E;
}

.frameAndText .aboutAd .aboutLinks a img {
  margin-right: 5px;
}

.frameAndText .aboutAd .aboutLinks a:nth-child(1) {
  border-right: 1px solid rgba(150, 150, 150, 0.28);
  margin-left: 0px;
}

.frameAndText .aboutAd .aboutLinks a p {
  margin-bottom: 0px;
}

.frameAndText .aboutAd .aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.frameAndText .aboutAd .aboutButtons p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 0px;
}

.frameAndText .aboutAd .aboutButtons p .date {
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: 0px;
}

.frameAndText .aboutAd .aboutButtons p img {
  margin-right: 5px;
}

.frameAndText .aboutAd .aboutButtons button p {
  color: white;
  opacity: 1;
}

.frameAndText .aboutAd .bottomLines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.frameAndText .aboutAd .bottomLines img {
  width: 86px;
  height: auto;
}

.frameAndText .aboutAd .bottomLines hr {
  margin: 0;
  width: 35%;
  background-color: #59B93F;
}

@media only screen and (max-width: 1144px) {
  .frameAndText {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .frameAndText .aboutAd {
    margin-left: 0px;
    margin-top: 20px;
    width: 95%;
  }
  .commentsCont {
    width: 100% !important;
  }
}
/*# sourceMappingURL=selectedAd.css.map */