
//Mobile 
@media only screen and (max-width: 1240px) {
    .selectedCompany
    {
        .aboutAd
        {
            margin-top: 50px ;
        }
    }
    
}

//Mobile 
@media only screen and (max-width: 628px) {
    .selectedCompany
    {
        .aboutAd
        {
            margin: 0px !important;
            margin-top: 50px !important ;
            width: 100% !important;
        }
    }
    
}
//Mobile 
@media only screen and (max-width: 568px) {
    .selectedCompany
    {
        .generalCont 
        {
            width: 100% !important;
        }
        .link
        {
            margin-left: 20px;
        }
        .aboutAd
        {
            margin: 0px !important;
            margin-top: 50px !important ;
            width: 95% !important;
            .aboutLinks
            {
                justify-content: center;
                row-gap: 10px;
                flex-direction: column;
                align-items: flex-start;
                a 
                {
                    border: none !important;
                    margin-left: 0px !important;
                }
                
            }
            .aboutButtons 
            {
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 10px;
                margin-top: 15px !important;
                .btnHeart
                {
                    padding-left: 0px;
                }
                .button 
                {
                    align-self: flex-end;
                    margin-top: 10px;
                }
            }
            .bottomPart
            {
                flex-direction: column;
                align-items: flex-start;
                .phoneOfMaster
                {
                    flex-direction: column;
                    border: none !important;
                    align-items: flex-start !important;
                }
                .social
                {
                    margin-left: 0px !important;
                    justify-content: center !important;
                    column-gap: 20px !important;
                }
                .mailOfMaster
                {
                    margin-left: 0px !important;
                    border: none !important;
                    p 
                    {
                        a 
                        {
                            width: 250px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        margin-left: 0px !important;
                    }
                }
                a 
                {
                    border: none !important;
                    margin-left: 0px !important;
                }
                flex-direction: column;
                row-gap: 10px;
                p 
                {
                    margin-left: 0px;
                }
            }
        }
        .frameAndText
        {
            width: 100% !important;
        }
       
        .FrameCont
        {
            width: 100% !important;
            .frame
            {
                width: 100% !important;
                justify-content: center; 
                .imgCont
                {
                    width: 100% !important;
                }
                .imgAndBullet
                {
                    margin: 0px;
                    width: 95% !important;
                
                }
                .overlay
                {
                    width: 100% !important;
                }
            }
        }
    }
    
}
.selectedCompany
{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .stars
    {
        img 
        {
            width: 28px;
        }
    }
    .imgCont
    {
        background-position: center !important;
        background-color: #fff !important;
        box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
    }
    .generalCont
    {
        width: 90%;
    }
    .link
    {
        margin-top: 52.5px;
        margin-bottom: 52.5px;
        p 
        {
            margin: 0;
        }
    }

.frameAndText
{
    display: flex;
    .aboutAd   
    {
        margin-left: 55px;
        width: 732px;
        .title
        {
            font-size: 28px;
            color: black;
            font-family: "ComfortaaRegular";
        }
        .subTitle
        {
            max-height: 100px;
            overflow: hidden;
            p 
            {
                font-family: "FuturicaRegular";
                font-size: 14px;
                color: #616161;
                opacity: 0.63;
                margin: 0px;
            }

        }
        .stars 
        {
            display: flex;
            align-items: center;
        }
        .phoneOfMaster
        {
            display: flex;
            height: 36px;
            align-items: center;
            width: auto;
            img 
            {
                width: 16px;
            }
            p
            {
                display: flex;
                align-items: center;
                margin-top: 0px;
                margin-bottom: 0;
            }
            a 
            {
                color: gray;
            }
            .numbers 
            {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                font-size: 18px;
                color: #969696;
                opacity: 0.83;
            }
        }
        
        .aboutLinks
        {
            display: flex;  
            margin-top: 29px;
            flex-wrap: wrap;
            width: auto;
            .worksCanDo
            {
                width: auto;
            }
            a
            {
                border-right: 1px solid rgba(150,150,150,0.28);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                margin-left: 15px;
                padding-right: 15px;
                color: #7B7C7E;
                font-size: 16px;
                
                .district
                {
                    font-size: 16px;
                }
                
                .imgAndText 
                {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                }
                img 
                {
                    margin-right: 5px;
                }
                &:nth-child(1)
                {
                    margin-left: 0px;
                    font-size: 16px;
                    width: auto;
                    p 
                    {
                        width: 300px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                    }
                }
                &:nth-child(2)
                {
                    margin-left: 0px;
                    font-size: 16px;
                    width: auto;
                }
                
                &:nth-child(2)
                {
                    padding: 0px;
                    margin: 0px;
                    width: auto;
                    justify-content: center;
                    border: none;
                    margin-left: 15px;
                    span 
                    {
                        width: 80px;
                    }
                }
            }
        }
        
        .aboutButtons
        {
            display: flex;
            font-size: 10px;
            margin-top: 26px;
            width: 100%;
            .btnHeart
            {
                background-color: transparent;
                border: none;
                svg
                {
                    color: gray;
                }
            }
            p 
            {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000000;

                img 
                {
                    margin-right: 5px;
                }
            }
            button 
            {
                p 
                {
                    color: white ;
                    opacity: 1;
                    font-family: "FuturicaRegular";
                }
            }
        }
        .bottomPart
        {
            display: flex;
            width: auto;
            margin-top: 20px;
            .phoneOfMaster
            {
                border-right: 1px solid rgba(150,150,150,0.28);
                p 
                {
                    margin: 0px;
                    font-size: 12px;
                }
                min-width: 157px;
            }
            .mailOfMaster
            {
                display: flex;
                height: 36px;
                align-items: center;
                width: auto;
                margin-left: 20px;
                padding-right: 20px;
                justify-content: center;
                border-right: 1px solid rgba(150,150,150,0.28);
                p
                {
                    display: flex;
                    align-items: center;
                    margin-top: 0px;
                    margin-bottom: 0;
                    margin-left: 5px;
                }
                a 
                {
                    color: gray;
                }
                img 
                {
                    height: 20px;
                }
                .mail 
                {
                    display: flex;
                    flex-direction: column;
                    margin-left: 5px;
                    font-size: 16px;
                    color: #969696;
                    opacity: 0.83;
                }
            }
            .social
            {
                height: 36px;
                width: auto;
                margin-left: 15px;
                display: flex;
                cursor: pointer;
                column-gap: 10px;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                p 
                {
                    margin: 0px;
                }

            }
        }   
        .bottomLines
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 120px;
            img 
            {
                width: 86px;
                height: auto;
            }
            hr 
            {
                margin: 0;
                width: 35%;
                background-color: #59B93F;
            }
        }
    } 
}
}


