.selectedMaster
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    .generalCont
    {
        width: 90%;
    }
    .link
    {
        margin-top: 52.5px;
        margin-bottom: 52.5px;
        p 
        {
            margin: 0;
        }
    }

    .FrameCont
    {
        
        .frame
        {
            .imgCont
            {
                background-color: #fff !important;
            }
        }

    }

.frameAndText
{
    display: flex;
    .aboutAd   
    {
        margin-left: 55px;
        width: 732px;
        .title
        {
            font-size: 28px;
            color: black;
            font-family: "ComfortaaRegular";
        }
        .subTitle
        {
            max-height:155px ;
            overflow: hidden;
            p 
            {
                font-family: "FuturicaRegular";
                font-size: 16px;
                color: #616161;
                opacity: 0.63;
            }

        }
        .stars 
        {
            display: flex;
            align-items: center;
        }
        .phoneOfMaster
        {
            display: flex;
            height: 46px;
            align-items: center;
            margin-top: 5px;
            p
            {
                display: flex;
                align-items: center;
                margin-top: 0px;
                margin-bottom: 0;
            }
            .numbers 
            {
                display: flex;
                flex-direction: column;
                margin-left: 7px;
                font-size: 17px;
                color: #969696;
                opacity: 0.83;
                a
                {
                    color: black;
                } 

            }
        }
        .aboutLinks
        {
            display: flex;  
            flex-wrap: wrap;
            margin-top: 0px;
            a
            {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                margin-left: 15px;
                // padding-right: 15px;
                color: #7B7C7E;
                font-size: 16px;
                p 
                {
                    display: flex;
                    align-items: center;
                }
                img 
                {
                    margin-right: 5px;
                }
                &:nth-child(1)
                {
                    border-right: 1px solid rgba(150,150,150,0.28);
                    margin-left: 0px;
                }
                &:nth-child(3)
                {
                    border: none;
                }
            }
        }
        
        .aboutButtons
        {
            display: flex;
            font-size: 10px;
            margin-top: 10px;
            width: 100%;
            flex-wrap: wrap;
            .btnHeart
            {
                background-color: transparent;
                border: none;
                svg
                {
                    color: gray;
                }
            }
            p 
            {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000000;
                font-size: 15px;
                img 
                {
                    margin-right: 5px;
                }
            }
            button 
            {
                p 
                {
                    color: white ;
                    opacity: 1;
                    font-family: "FuturicaRegular";
                }
            }
        }

        .bottomLines
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            img 
            {
                width: 86px;
                height: auto;
            }
            hr 
            {
                margin: 0;
                width: 35%;
                background-color: #59B93F;
            }
        }
    } 
}
}



//Mobile 
@media only screen and (max-width: 1132px) {
    
    .selectedMaster
    {
        .generalCont
        {
            width: 95% !important;
            .FrameCont
            {
                height: 450px;
                width: 100%;
                display: flex;
                justify-content: center;
                .frame
                {
                    height: auto;
                    .overlay 
                    {
                        height: 450px !important;
                    }
                }
            }
        }
    }
}
//Mobile 
@media only screen and (max-width: 564px) {
    
    .selectedMaster
    {
        .generalCont
        {
            width: 95% !important;
            .aboutAd
            {
                margin: 0px;
                margin-top: 30px;
            }
            .link
            {
                margin-left: 20px;
            }
            .FrameCont
            {
                height: 450px;
                width: 100%;
                display: flex;
                justify-content: center;
                .frame
                {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    .imgCont
                    {
                        width: 100% !important;
                    }
                    .imgAndBullet
                    {
                        margin-left: 0px;
                        width: 100%;
                    }
                    .overlay 
                    {
                        height: 450px !important;
                        width: 100%;
                    }
                }
            }
        }
    }
}
//Mobile 
@media only screen and (max-width: 576px) {
    
    .selectedMaster
    {
        .generalCont
        {
            width: 95% !important;
            .aboutAd
            {
                padding-left: 10px;
                margin: 0px;
                margin-top: 30px;
            }
            .aboutLinks
            {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0px !important;
                span
                {
                }
                a
                {
                    border: none !important;
                    margin-left: 0px !important;
                }
            }
            .aboutButtons
            {
                flex-direction: column;
                align-items: flex-start;
                .btnHeart
                {
                    padding-left: 0px;
                }
            }
            .numbers
            {
                column-gap: 30px;
            }
            .link
            {
                margin-left: 20px;
            }
            
        }
    }
}