.selectedMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.selectedMaster .generalCont {
  width: 90%;
}

.selectedMaster .link {
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

.selectedMaster .link p {
  margin: 0;
}

.selectedMaster .FrameCont .frame .imgCont {
  background-color: #fff !important;
}

.selectedMaster .frameAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selectedMaster .frameAndText .aboutAd {
  margin-left: 55px;
  width: 732px;
}

.selectedMaster .frameAndText .aboutAd .title {
  font-size: 28px;
  color: black;
  font-family: "ComfortaaRegular";
}

.selectedMaster .frameAndText .aboutAd .subTitle {
  max-height: 155px;
  overflow: hidden;
}

.selectedMaster .frameAndText .aboutAd .subTitle p {
  font-family: "FuturicaRegular";
  font-size: 16px;
  color: #616161;
  opacity: 0.63;
}

.selectedMaster .frameAndText .aboutAd .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectedMaster .frameAndText .aboutAd .phoneOfMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.selectedMaster .frameAndText .aboutAd .phoneOfMaster p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.selectedMaster .frameAndText .aboutAd .phoneOfMaster .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7px;
  font-size: 17px;
  color: #969696;
  opacity: 0.83;
}

.selectedMaster .frameAndText .aboutAd .phoneOfMaster .numbers a {
  color: black;
}

.selectedMaster .frameAndText .aboutAd .aboutLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selectedMaster .frameAndText .aboutAd .aboutLinks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-left: 15px;
  padding-right: 15px;
  color: #7B7C7E;
  font-size: 16px;
}

.selectedMaster .frameAndText .aboutAd .aboutLinks a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectedMaster .frameAndText .aboutAd .aboutLinks a img {
  margin-right: 5px;
}

.selectedMaster .frameAndText .aboutAd .aboutLinks a:nth-child(1) {
  border-right: 1px solid rgba(150, 150, 150, 0.28);
  margin-left: 0px;
}

.selectedMaster .frameAndText .aboutAd .aboutLinks a:nth-child(3) {
  border: none;
}

.selectedMaster .frameAndText .aboutAd .aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  margin-top: 16px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selectedMaster .frameAndText .aboutAd .aboutButtons .btnHeart {
  background-color: transparent;
  border: none;
}

.selectedMaster .frameAndText .aboutAd .aboutButtons .btnHeart svg {
  color: gray;
}

.selectedMaster .frameAndText .aboutAd .aboutButtons p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 15px;
}

.selectedMaster .frameAndText .aboutAd .aboutButtons p img {
  margin-right: 5px;
}

.selectedMaster .frameAndText .aboutAd .aboutButtons button p {
  color: white;
  opacity: 1;
  font-family: "FuturicaRegular";
}

.selectedMaster .frameAndText .aboutAd .bottomLines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.selectedMaster .frameAndText .aboutAd .bottomLines img {
  width: 86px;
  height: auto;
}

.selectedMaster .frameAndText .aboutAd .bottomLines hr {
  margin: 0;
  width: 35%;
  background-color: #59B93F;
}

@media only screen and (max-width: 1132px) {
  .selectedMaster .generalCont {
    width: 95% !important;
  }
  .selectedMaster .generalCont .FrameCont {
    height: 450px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selectedMaster .generalCont .FrameCont .frame {
    height: auto;
  }
  .selectedMaster .generalCont .FrameCont .frame .overlay {
    height: 450px !important;
  }
}

@media only screen and (max-width: 564px) {
  .selectedMaster .generalCont {
    width: 95% !important;
  }
  .selectedMaster .generalCont .aboutAd {
    margin: 0px;
    margin-top: 30px;
  }
  .selectedMaster .generalCont .link {
    margin-left: 20px;
  }
  .selectedMaster .generalCont .FrameCont {
    height: 450px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selectedMaster .generalCont .FrameCont .frame {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selectedMaster .generalCont .FrameCont .frame .imgCont {
    width: 100% !important;
  }
  .selectedMaster .generalCont .FrameCont .frame .imgAndBullet {
    margin-left: 0px;
    width: 100%;
  }
  .selectedMaster .generalCont .FrameCont .frame .overlay {
    height: 450px !important;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .selectedMaster .generalCont {
    width: 95% !important;
  }
  .selectedMaster .generalCont .aboutAd {
    padding-left: 10px;
    margin: 0px;
    margin-top: 30px;
  }
  .selectedMaster .generalCont .aboutLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0px !important;
  }
  .selectedMaster .generalCont .aboutLinks a {
    border: none !important;
    margin-left: 0px !important;
  }
  .selectedMaster .generalCont .aboutButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .selectedMaster .generalCont .aboutButtons .btnHeart {
    padding-left: 0px;
  }
  .selectedMaster .generalCont .numbers {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .selectedMaster .generalCont .link {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=selectedMaster.css.map */