@media only screen and (max-width: 1240px) {
  .selectedCompany .aboutAd {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 628px) {
  .selectedCompany .aboutAd {
    margin: 0px !important;
    margin-top: 50px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 568px) {
  .selectedCompany .generalCont {
    width: 100% !important;
  }
  .selectedCompany .link {
    margin-left: 20px;
  }
  .selectedCompany .aboutAd {
    margin: 0px !important;
    margin-top: 50px !important;
    width: 95% !important;
  }
  .selectedCompany .aboutAd .aboutLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .selectedCompany .aboutAd .aboutLinks a {
    border: none !important;
    margin-left: 0px !important;
  }
  .selectedCompany .aboutAd .aboutButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
    margin-top: 15px !important;
  }
  .selectedCompany .aboutAd .aboutButtons .btnHeart {
    padding-left: 0px;
  }
  .selectedCompany .aboutAd .aboutButtons .button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 10px;
  }
  .selectedCompany .aboutAd .bottomPart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
  }
  .selectedCompany .aboutAd .bottomPart .phoneOfMaster {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .selectedCompany .aboutAd .bottomPart .social {
    margin-left: 0px !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-column-gap: 20px !important;
            column-gap: 20px !important;
  }
  .selectedCompany .aboutAd .bottomPart .mailOfMaster {
    margin-left: 0px !important;
    border: none !important;
  }
  .selectedCompany .aboutAd .bottomPart .mailOfMaster p {
    margin-left: 0px !important;
  }
  .selectedCompany .aboutAd .bottomPart .mailOfMaster p a {
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .selectedCompany .aboutAd .bottomPart a {
    border: none !important;
    margin-left: 0px !important;
  }
  .selectedCompany .aboutAd .bottomPart p {
    margin-left: 0px;
  }
  .selectedCompany .frameAndText {
    width: 100% !important;
  }
  .selectedCompany .FrameCont {
    width: 100% !important;
  }
  .selectedCompany .FrameCont .frame {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selectedCompany .FrameCont .frame .imgCont {
    width: 100% !important;
  }
  .selectedCompany .FrameCont .frame .imgAndBullet {
    margin: 0px;
    width: 95% !important;
  }
  .selectedCompany .FrameCont .frame .overlay {
    width: 100% !important;
  }
}

.selectedCompany {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.selectedCompany .stars img {
  width: 28px;
}

.selectedCompany .imgCont {
  background-position: center !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
}

.selectedCompany .generalCont {
  width: 90%;
}

.selectedCompany .link {
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

.selectedCompany .link p {
  margin: 0;
}

.selectedCompany .frameAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selectedCompany .frameAndText .aboutAd {
  margin-left: 55px;
  width: 732px;
}

.selectedCompany .frameAndText .aboutAd .title {
  font-size: 28px;
  color: black;
  font-family: "ComfortaaRegular";
}

.selectedCompany .frameAndText .aboutAd .subTitle {
  max-height: 100px;
  overflow: hidden;
}

.selectedCompany .frameAndText .aboutAd .subTitle p {
  font-family: "FuturicaRegular";
  font-size: 14px;
  color: #616161;
  opacity: 0.63;
  margin: 0px;
}

.selectedCompany .frameAndText .aboutAd .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster img {
  width: 16px;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster a {
  color: gray;
}

.selectedCompany .frameAndText .aboutAd .phoneOfMaster .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  font-size: 18px;
  color: #969696;
  opacity: 0.83;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks .worksCanDo {
  width: auto;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a {
  border-right: 1px solid rgba(150, 150, 150, 0.28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-left: 15px;
  padding-right: 15px;
  color: #7B7C7E;
  font-size: 16px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a .district {
  font-size: 16px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a .imgAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a img {
  margin-right: 5px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(1) {
  margin-left: 0px;
  font-size: 16px;
  width: auto;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(1) p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(2) {
  margin-left: 0px;
  font-size: 16px;
  width: auto;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(2) {
  padding: 0px;
  margin: 0px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin-left: 15px;
}

.selectedCompany .frameAndText .aboutAd .aboutLinks a:nth-child(2) span {
  width: 80px;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  margin-top: 26px;
  width: 100%;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons .btnHeart {
  background-color: transparent;
  border: none;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons .btnHeart svg {
  color: gray;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons p img {
  margin-right: 5px;
}

.selectedCompany .frameAndText .aboutAd .aboutButtons button p {
  color: white;
  opacity: 1;
  font-family: "FuturicaRegular";
}

.selectedCompany .frameAndText .aboutAd .bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 20px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .phoneOfMaster {
  border-right: 1px solid rgba(150, 150, 150, 0.28);
  min-width: 157px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .phoneOfMaster p {
  margin: 0px;
  font-size: 12px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-left: 20px;
  padding-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(150, 150, 150, 0.28);
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 5px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster a {
  color: gray;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster img {
  height: 20px;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .mailOfMaster .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  font-size: 16px;
  color: #969696;
  opacity: 0.83;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .social {
  height: 36px;
  width: auto;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.selectedCompany .frameAndText .aboutAd .bottomPart .social p {
  margin: 0px;
}

.selectedCompany .frameAndText .aboutAd .bottomLines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.selectedCompany .frameAndText .aboutAd .bottomLines img {
  width: 86px;
  height: auto;
}

.selectedCompany .frameAndText .aboutAd .bottomLines hr {
  margin: 0;
  width: 35%;
  background-color: #59B93F;
}
/*# sourceMappingURL=selectedCompany.css.map */