.singleCommentCont {
  height: auto;
}

.singleCommentCont .singleCommentAbout {
  font-family: "ComfortaaRegular";
  width: 85%;
  margin-top: 20px;
}

.singleCommentCont .singleCommentAbout .name {
  font-size: 21px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.singleCommentCont .singleCommentAbout .name img {
  margin-left: 23px;
  margin-bottom: -1px;
}

.singleCommentCont .singleCommentAbout .lineForMain {
  border: none;
  background-color: #58BC40;
  height: 1px;
  opacity: 0.49;
  margin: 0;
}

.singleCommentCont .singleCommentAbout .mainComment {
  color: #616161;
  opacity: 0.83;
}

.singleCommentCont .singleCommentAbout .mainComment p {
  margin-bottom: 0px;
}

.singleCommentCont .singleCommentAbout .replyForm {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.singleCommentCont .singleCommentAbout .replyForm form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.singleCommentCont .singleCommentAbout .replyForm form .input {
  width: 86%;
  height: 0px;
  pointer-events: none;
  border: none;
}

.singleCommentCont .singleCommentAbout .replyForm form .inputClick {
  height: 150px;
  border: 1px solid gray;
  width: 96%;
  border: 1px solid gray;
  pointerEvents: all;
  text-align: center;
}

.singleCommentCont .singleCommentAbout button {
  float: right;
  width: 91px;
  height: 25px;
  color: black;
  background: none;
  border: none;
}

.singleCommentCont .singleCommentAbout button:focus {
  outline: none;
}

.mainCommentCont {
  display: flex;
  height: auto;
  align-items: center;
  margin-bottom: 5px;
}

.mainCommentCont .profileMainImg {
  align-self: flex-start;
  margin-right: 25px;
  width: 98.73px;
  height: 98.73px;
}
