
.singleCommentCont
{
    height: auto;
    margin-top: 10px;
    .singleCommentAbout
    {
        font-family: "ComfortaaRegular";
        width: 85%;
        .name 
        {
            font-size: 18px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 20px;
            span 
            {
                display: flex;
                align-items: center;
                column-gap: 10px;
                font-size: 13px;
            }
            img 
            {
                width: 18px;
                margin-bottom: -1px;
            }
            margin-top: 0px;
            margin-bottom: 1px;
        }
        .lineForMain
        {
            border: none;
            background-color: #58BC40;
            height: 1px;
            opacity: 0.49;
            margin: 0;
            
        }
        .mainComment
        {
            color:#616161;
            opacity: 0.83;
            margin-top: 7px;
            p 
            {
            margin-bottom: 0px;

            }
        }
        
        
    }
}

.mainCommentCont
{
    display: flex;
    height: auto;
    align-items: center;
    margin-bottom: 25px;
    .profileMainImg 
    {
        align-self: flex-start;
        margin-right: 10px;
        width: 58.73px;
        height: 58.73px;
        border-radius: 50%;
    }
}