.statistica {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  margin-top: 100px;
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  background: url("../../images/component/background/statisticBg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.statistica .title {
  font-size: 35px;
  color: white;
  font-family: "DaxlinePro";
}

.statistica p {
  margin: 0px;
}

.statistica .gridCont1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 95%;
  height: 129px;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  font-size: 29px;
  font-family: "FuturicaRegular";
  grid-row-gap: 29px;
  margin-top: 70px;
  color: white;
}

.statistica .gridCont2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 60%;
  height: 129px;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  font-size: 29px;
  font-family: "FuturicaRegular";
  grid-row-gap: 29px;
  margin-top: 70px;
  color: white;
}

.statistica .gridCont2 .whiteImg1 {
  width: 21px;
}

.statistica .gridCont2 .whiteImg2 {
  width: 31px;
}

.statistica .gridCont2 .whiteImg3 {
  width: 27px;
}

.statistica .gridCont2 .whiteImg4 {
  width: 32px;
}

.statistica .gridCont2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistica .gridCont2 p img {
  width: 25px;
}

.statistica .gridCont2 p span {
  margin-left: 20px;
  font-size: 20px;
  font-family: "ComfortaaRegular";
}

.statistica .mainLogo {
  margin-top: -70px;
  margin-right: 10%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.underLine {
  width: 90%;
  height: 1px;
  border: none;
  background: #FFFFFF;
  opacity: 0.5;
  margin-top: 31px;
}

@media only screen and (max-width: 1146px) {
  .statistica .gridCont1 {
    -ms-grid-columns: 1.2fr 0.8fr !important;
        grid-template-columns: 1.2fr 0.8fr !important;
    width: 95% !important;
    height: auto !important;
  }
  .statistica .gridCont1 p {
    text-align: center;
  }
  .statistica .gridCont2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    width: 100% !important;
    height: auto !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .statistica .gridCont2 .whiteImg1 {
    width: 23px !important;
  }
  .statistica .gridCont2 p {
    width: 250px;
    text-align: center;
  }
  .statistica .mainLogo {
    margin-top: 40px !important;
  }
}
/*# sourceMappingURL=statistica.css.map */