.subBanner 
{
    width: 95%;
    height: 193px;
    background-color: red;
    background: url(../../images/component/background/subBannerBg.jpg) no-repeat;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: white;
    font-family: "ComfortaaRegular";
}