.subBanner 
{
    width: 100%;
    height: 73px;
    border-radius: 10px;
    background-color: white;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: white;
    font-family: "ComfortaaRegular";
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}