.Vipad
{
    height: 468px ;
    width: 264px;
    font-family: "ComfortaaRegular";
    color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s box-shadow;
    &:hover 
    {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        transition: 0.5s box-shadow;


    }
    .crown
    {
        position:absolute;
        margin-top: -55px;
        margin-left: -35px;
    }
    .mainImg 
    {
        background-size: cover !important;
        width: 264px;
        height: 308px;
        border: none;

    }
    .name
    {
        font-size: 14px;
        width: 255px;
        overflow: hidden;
        color: black;
        a 
        {
            color: black;
        }
    }
    p 
    {
        margin: 0px;
    }
    .subCont
    {
        height: 155px;
        padding: 20px;
        background: url("../../images/component/background/masterAboutBg.svg");
    }
    .flexCont1
    {
        display: flex;
        justify-content: space-between;
    }
    .flexCont2
    {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
    .jobTitle
    {
        color: #F97922;
    }
    .address
    {
        color: black;
        opacity: 0.5;
        font-size: 15px;
    }
    .stars
    {
        img 
        {
            transform: scale(2);
        }
    }
    .rating
    {
        font-size: 12px;
    }
    .heartBtn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        width: 45px;
        align-self: flex-end;
        border: none ;
        background-color: transparent;
        margin-right: -10px;
        svg
        {
            color: gray;
        }
    }
}   