.addsPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addsPage .generalCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addsPage .contForBtnImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addsPage .contForBtnImg .topButton {
  z-index: 3;
}

.addsPage .linkAndButton {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  height: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.addsPage .linkAndButton .link {
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

.addsPage .linkAndButton .link p {
  margin: 0;
}

.addsPage .linkAndButton .topButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0px;
  margin: 0px;
  width: 229px;
  height: 98px;
  border: none;
  color: #F6F7FB;
  font-family: "ComfortaaRegular";
  background-image: url("../../images/component/element/animatedButton.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.addsPage .linkAndButton .topButton:focus {
  outline: none;
}

.addsPage .linkAndButton .topButtonHover {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0px;
  margin: 0px;
  width: 229px;
  height: 98px;
  border: none;
  color: #F6F7FB;
  font-family: "ComfortaaRegular";
  background-image: url("../../images/component/element/animatedButton.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.addsPage .adsContainer {
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  gap: 30px;
  margin-bottom: 50px;
}

.addsPage .topButtonHover:hover {
  background-image: url("../../images/component/element/butonPainted2.svg");
  background-size: cover;
  background-position: center;
  width: 229px;
  height: 98px;
}

.filtrDW .categoryCont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.filtrDW .categoryCont .button {
  margin: 0px;
  margin-top: 30px;
}

.filtrDW .categoryCont .divider {
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.filtrDW .categoryCont .divider .ctgryGrid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: auto;
  row-gap: 20px;
}

.filtrDW .categoryCont .divider .ctgryGrid .part1, .filtrDW .categoryCont .divider .ctgryGrid .part2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: auto;
}

.filtrDW .categoryCont .divider .ctgryGrid .part1 p, .filtrDW .categoryCont .divider .ctgryGrid .part2 p {
  width: auto;
}

@media only screen and (max-width: 612px) {
  .generalCont .linkAndButton {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
  }
  .generalCont .linkAndButton .link {
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
  }
  .generalCont .linkAndButton .topButton {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=addsPage.css.map */