.addsPage 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .generalCont
    {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contForBtnImg
    {
        display: flex;
        justify-content: center;
        align-items: center;
        .topButton
        {
            z-index: 3;
        }
        
    }
    
    .linkAndButton
    {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        height: 130px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        .link
        {
            margin-top: 52.5px;
            margin-bottom: 52.5px;
            p 
            {
                margin: 0;
            }
        }
        .topButton
        {
            align-self: center;
            justify-self: center;
            padding: 0px;
            margin: 0px;
            width: 229px;
            height: 98px;
            border: none;
            color: #F6F7FB;
            font-family: "ComfortaaRegular";
            background-image: url("../../images/component/element/animatedButton.svg") ;
            background-size:100%;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position:  center;
            &:focus {
                outline: none;
            }
            
        }
        .topButtonHover
        {
            align-self: center;
            justify-self: center;
            padding: 0px;
            margin: 0px;
            width: 229px;
            height: 98px;
            border: none;
            color: #F6F7FB;
            font-family: "ComfortaaRegular";
            background-image: url("../../images/component/element/animatedButton.svg") ;
            background-size:100%;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position:  center;
            
        }
    }
    
        
        
        .adsContainer
        {
            margin-top: 50px;
            width: 100%;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            gap: 30px;
            margin-bottom: 50px;
        }
    
        .topButtonHover:hover
        {
            background-image: url('../../images/component/element/butonPainted2.svg') ;
            background-size: cover;
            background-position: center;
            width: 229px;
            height: 98px;
        }
    
}


.filtrDW
{
    .categoryCont
    {
        flex-direction: column;
        height: auto;
        .button
        {
            margin: 0px;
            margin-top: 30px;
        }
        .divider
        {
            width: auto;
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 96%;
            padding-left: 2%;
            padding-right: 2%;
            .ctgryGrid
            {
                grid-template-columns: repeat(2,1fr);
                height: auto;
                row-gap: 20px;
                .part1 , .part2
                {
                    flex-direction: column;
                    row-gap: 20px;
                    width: auto; 
                     p 
                     {
                         width: auto;
                     }
                }
            }
        }
    }
}

//Mobile 
@media only screen and (max-width: 612px) {
    .generalCont
    {
        width: 100%;
        .linkAndButton
        {
            grid-template-columns: repeat(1,1fr);
            margin-bottom: 10px;
            .link 
            {
                padding: 0px;
                margin: 0px;
                margin-top: 30px;
            }
            .topButton
            {
                margin-top: 30px;
            }
        }
    }
    
}

//Mobile 
@media only screen and (max-width: 420px) {
    .addsPage
    {
        .generalCont 
        {
            width: 98%;
        }
        .adsContainer
        {
            justify-content: space-between;
            grid-gap: 3%;
            row-gap: 10px;
        }
    }
    
}
