.companyRegCont
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .addFile
    {
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: white;
        border: 1px solid gray; 
        display: flex;
        justify-content: center;
        .textPhoto
        {
            margin: 0px ;
            align-self: center;
            color: black;
            font-size: 18px;
            font-family: "ComfortaaRegular";
            position: absolute;
        }
        .addFileInput
        {
            opacity: 0;
            width: 528px;
        }
    }
    .btnAndImg
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        height: 30px;
        width: 100%;
    }
    .imgPreview
    {
        border: 0px solid gray;
        border-radius:10px;
        height: 0px;
        border: none;
    }
    form 
    {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        .inputSelectCont
        {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 25px;
            flex-wrap: wrap;
            margin-top: 50px;
        }
        .button 
        {
            width: 238px;
            height: 53px;
        }
    }
    input {
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-family: "ComfortaaRegular";
        font-size: 16px;
        border: none;
        border-bottom: 1px solid lightgray;
        height: 30px;
        margin-bottom: 6px;
        &:focus {
            outline: none;
        }
    }
    .errors 
    {
        color: red;
    }
    .errorsDown
            {
                display: flex;
                flex-direction: column;
                height: 30px;
                margin-top: 45px;
                width: 100%;
                color: red;
                margin-bottom: 15px;
            }
      select {
          width: 100.8%;
          font-family: "FuturicaRegular";
          font-size: 17px;
          border: none;
          border-bottom: 1px solid lightgray;
          color: rgba(0, 0, 0, 0.6);
          
          &:focus {
              outline: none;
          }

      }
      
    .formPart1
    {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 49.5%;
        option[value=""][disabled] {
            display: none;
        } 
        input 
        {
            margin-top: 5px;
        }
    }
    .formPart2
    {
        margin-top: 20px;
        width: 49.5%;
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        
         .selections {
             .titleSelections {
                font-family: "ComfortaaRegular";

                 color: black;
                 opacity: 0.5;
                 font-size: 16px;
                 margin: 0px;
             }

             .buttons {
                 margin: 0px;
                 display: flex;
                 align-items: center;
                 justify-content: flex-start;
                 flex-wrap: wrap;
                 margin-bottom: 10px;
                    
                 button {
                     color: rgba(0, 0, 0, 0.9);
                     min-width: 77px;
                     height: 31px;
                     margin: 10px;
                     margin-bottom: 5px;
                     margin-left: 0px;
                     border: 1px solid #58BC40;
                     background-color: transparent;
                     border-radius: 10px;
                     font-family: "FuturicaRegular";

                     
                 }
             }
         } //Selection



         }

        option[value=""][disabled] {
            display: none;
        }
         input {
             &:focus {
                 outline: none;
             }
         }

         select {
             &:focus {
                 outline: none;
             }
         }
         
    }


    //Mobile 
@media only screen and (max-width: 794px) {
    .companyRegCont
    {
        form 
        {
            margin-top: 0px;
            .inputSelectCont
            {
                
                .formPart1 , .formPart2
                {
                    width: 100%;
                }
                .formPart2 
                {
                    margin-top: 30px;
                }
            }
        }

    }
    
}