.companyRegCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.companyRegCont .addFile {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: white;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.companyRegCont .addFile .textPhoto {
  margin: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 18px;
  font-family: "ComfortaaRegular";
  position: absolute;
}

.companyRegCont .addFile .addFileInput {
  opacity: 0;
  width: 528px;
}

.companyRegCont .btnAndImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  height: 30px;
  width: 100%;
}

.companyRegCont .imgPreview {
  border: 0px solid gray;
  border-radius: 10px;
  height: 0px;
  border: none;
}

.companyRegCont form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.companyRegCont form .inputSelectCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.companyRegCont form .button {
  width: 238px;
  height: 53px;
}

.companyRegCont input {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "ComfortaaRegular";
  font-size: 16px;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 30px;
  margin-bottom: 6px;
}

.companyRegCont input:focus {
  outline: none;
}

.companyRegCont .errors {
  color: red;
}

.companyRegCont .errorsDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30px;
  margin-top: 45px;
  width: 100%;
  color: red;
  margin-bottom: 15px;
}

.companyRegCont select {
  width: 100.8%;
  font-family: "FuturicaRegular";
  font-size: 17px;
  border: none;
  border-bottom: 1px solid lightgray;
  color: rgba(0, 0, 0, 0.6);
}

.companyRegCont select:focus {
  outline: none;
}

.companyRegCont .formPart1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: 49.5%;
}

.companyRegCont .formPart1 option[value=""][disabled] {
  display: none;
}

.companyRegCont .formPart1 input {
  margin-top: 5px;
}

.companyRegCont .formPart2 {
  margin-top: 20px;
  width: 49.5%;
  row-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.companyRegCont .formPart2 .selections .titleSelections {
  font-family: "ComfortaaRegular";
  color: black;
  opacity: 0.5;
  font-size: 16px;
  margin: 0px;
}

.companyRegCont .formPart2 .selections .buttons {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.companyRegCont .formPart2 .selections .buttons button {
  color: rgba(0, 0, 0, 0.9);
  min-width: 77px;
  height: 31px;
  margin: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  border: 1px solid #58BC40;
  background-color: transparent;
  border-radius: 10px;
  font-family: "FuturicaRegular";
}

.companyRegCont option[value=""][disabled] {
  display: none;
}

.companyRegCont input:focus {
  outline: none;
}

.companyRegCont select:focus {
  outline: none;
}

@media only screen and (max-width: 794px) {
  .companyRegCont form {
    margin-top: 0px;
  }
  .companyRegCont form .inputSelectCont .formPart1, .companyRegCont form .inputSelectCont .formPart2 {
    width: 100%;
  }
  .companyRegCont form .inputSelectCont .formPart2 {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=companyRegistration.css.map */