.masterRegistrationCont
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .registration
    {
        display: flex;
        justify-content: center;
        margin-top: 50px;  

        .masterImg
        {
            width: auto;
            height: 579px;
        }
        .formContReg {
        margin-left: 30px;
        margin-top: 40px;
            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 540px;
                height: auto;

                input {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    font-family: "FuturicaRegular";
                    font-size: 16px;
                    border: none;
                    border-bottom: 1px solid lightgray;
                    height: 30px;
                    margin-bottom: 28px;

                    &:focus {
                        outline: none;
                    }
                }

                select {
                    width: 100.8%;
                    font-family: "FuturicaRegular";
                    font-size: 17px;
                    border: none;
                    border-bottom: 1px solid lightgray;
                    margin-bottom: 28px;
                    color: rgba(0, 0, 0, 0.6);
                    &:focus {
                        outline: none;
                    }

                }

                option[value=""][disabled] {
                    display: none;
                }

                .selections {
                    .titleSelections {
                        font-family: "FuturicaRegular";
                        color: black;
                        opacity: 0.5;
                        font-size: 16px;
                        margin: 0px;
                        margin-bottom: 10px;
                    }

                    .buttons {
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        margin-bottom: 25px;

                        button {
                            color: rgba(0, 0, 0, 0.9);
                            min-width: 77px;
                            height: 31px;
                            margin: 10px;
                            margin-left: 0px;
                            border: 1px solid #58BC40;
                            background-color: transparent;
                            border-radius: 10px;
                            font-family: "FuturicaRegular";

                            &:nth-child(1) {
                                background-color: #58BC40;
                                color: white;
                            }

                            &:nth-child(5) {
                                background-color: #58BC40;
                                color: white;
                            }

                            &:nth-child(9) {
                                background-color: #58BC40;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    
}