
.masterRegistrationCont
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .registration
    {
        display: flex;
        justify-content: center;
        margin-top: 50px;  

        .masterImg
        {
            width: auto;
            height: 879px;
        }
        .formContReg {
        margin-left: 30px;
        margin-top: 40px;

            form {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 540px;
                height: auto;
                
                .btnAndImg
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 50px;
                    height: 30px;
                    width: 100%;
                }
                .imgPreview
                {
                    border: 0px solid gray;
                    border-radius:10px;
                    height: 0px;
                    width: 150px !important;
                    border: none;
                }
                .addFile
            {
                margin: 0px;
                padding: 0px;
                border: none;
                background-color: white;
                border: 1px solid gray; 
                display: flex;
                justify-content: center;
                .textPhoto
                {
                    margin: 0px ;
                    align-self: center;
                    color: black;
                    font-size: 18px;
                    font-family: "ComfortaaRegular";
                    position: absolute;
                }
                .addFileInput
                {
                    opacity: 0;
                    width: 528px;
                }
            }
            .errors
            {
                margin-bottom: 10px;
                height: 30px;
                margin-top: 5px;
                width: 403px;
                color: red;

            }
                .button 
                {
                    width: 240px;
                    height: 50px;
                    p 
                    {
                        font-size: 18px !important; 
                    }
                }
                input {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    font-family: "ComfortaaRegular";

                    font-size: 16px;
                    border: none;
                    border-bottom: 1px solid lightgray;
                    height: 30px;
                    margin-bottom: 5px;

                    &:focus {
                        outline: none;
                    }
                }
                .errors 
                {
                    margin-bottom: 5px;
                    color: red;
                    align-self: flex-start;
                }
                select {
                    width: 100.8%;
                    font-family: "ComfortaaRegular";

                    font-size: 17px;
                    border: none;
                    border-bottom: 1px solid lightgray;
                    margin-bottom: 28px;
                    color: rgba(0, 0, 0, 0.6);
                    &:focus {
                        outline: none;
                    }

                }

                option[value=""][disabled] {
                    display: none;
                }

                .selections {
                    .titleSelections {
                        font-family: "ComfortaaRegular";

                        color: black;
                        opacity: 0.5;
                        font-size: 16px;
                        margin: 0px;
                        margin-bottom: 10px;
                    }

                    .buttons {
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        margin-bottom: 25px;

                        button {
                            color: rgba(0, 0, 0, 0.9);
                            min-width: 77px;
                            height: 31px;
                            margin: 10px;
                            margin-left: 0px;
                            border: 1px solid #58BC40;
                            background-color: transparent;
                            border-radius: 10px;
                            font-family: "ComfortaaRegular";


                            
                        }
                    }
                }
            }
        }
    }
    
}
//Mobile 
@media only screen and (max-width: 1240px) {
    .masterRegistrationCont
    {
        margin-bottom: 100px;
        .formContReg
        {
            width: 90%;
            margin-left: 0px !important;
            form 
            {
                width: 100% !important; 
                .errors
                {
                    width: 100% !important; 
                }
                .addFile
                {
                    width: 100%;
                }
                .addFileInput
                {
                    width: 100% !important; 
                    input 
                    {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    
}