.searchPage 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    
    .categoryCont .ctgryGrid .part2
    {
        width: 600px;
    }
    .generalCont 
    {
        width: 90%;
    }
    .linkAndButton
    {
        width: 95%;
        height: 130px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @media screen and(max-width:900px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
        }
        .link
        {
            margin-top: 52.5px;
            margin-bottom: 52.5px;
            p 
            {
                margin: 0;
            }
        }
        .topButton
        {
            align-self: center;
            justify-self: center;
            padding: 0px;
            margin: 0px;
            width: 210px;
            height: 70px;
            border: none;
            background-color: lightblue;
            color: #F6F7FB;
            font-family: "ComfortaaRegular";
            background: url("../../images/component/element/animatedButton.svg") no-repeat;
            background-size: auto auto;
            &:focus {
                outline: none;
            }
        }
    }
    
    .categoryCont
    {
        width: 100%;
    }
    .subBanner
    {
        width: 90%;
        margin-top: 100px;
    }
        .adsContainer
        {
            margin-top: 66px;
            width: 100%;
            align-content: center;
            justify-items: center;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            .topThing 
            {
                @media screen and (max-width:500px) {
                    width: 100% !important;
                }
            }
            .searchNresult
            {
                margin-top: 50px;
                margin-bottom: -60px;
                font-size: 18px;
            }
            .Vipmasters
            {
                margin-top: 66px;
                width: 100%;
                align-content: center;
                justify-items: center;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 50px;
                @media screen and (max-width:750px) {
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;
                }
            }
            .masters
            {
                margin-top: 66px;
                width: 100%;
                align-content: center;
                justify-items: center;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 50px;
                @media screen and (max-width:1200px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
            
        }
    
}