.searchPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.searchPage .categoryCont .ctgryGrid .part2 {
  width: 600px;
}

.searchPage .generalCont {
  width: 90%;
}

.searchPage .linkAndButton {
  width: 95%;
  height: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 900px) {
  .searchPage .linkAndButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.searchPage .linkAndButton .link {
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

.searchPage .linkAndButton .link p {
  margin: 0;
}

.searchPage .linkAndButton .topButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0px;
  margin: 0px;
  width: 210px;
  height: 70px;
  border: none;
  background-color: lightblue;
  color: #F6F7FB;
  font-family: "ComfortaaRegular";
  background: url("../../images/component/element/animatedButton.svg") no-repeat;
  background-size: auto auto;
}

.searchPage .linkAndButton .topButton:focus {
  outline: none;
}

.searchPage .categoryCont {
  width: 100%;
}

.searchPage .subBanner {
  width: 90%;
  margin-top: 100px;
}

.searchPage .adsContainer {
  margin-top: 66px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.searchPage .adsContainer .searchNresult {
  margin-top: 50px;
  margin-bottom: -60px;
  font-size: 18px;
}

.searchPage .adsContainer .Vipmasters {
  margin-top: 66px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.searchPage .adsContainer .masters {
  margin-top: 66px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

@media screen and (max-width: 1200px) {
  .searchPage .adsContainer .masters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=searchListing.css.map */