.userRegCont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    .formAndImg
    {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        column-gap: 40px;
        form 
        {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            width: 530px;
            .btnAndImg
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;
                height: 30px;
            }
            .imgPreview
            {
                border: 0px solid lightgray;
                border-radius:10px;
                height: 0px;
                border: none;
                width: 100px;
                heigh: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position:top center;

            }
            .addFile
            {
                margin: 0px;
                padding: 0px;
                margin-top: 20px;
                border: none;
                background-color: white;
                border: 1px solid gray; 
                display: flex;
                justify-content: center;
                .textPhoto
                {
                    margin: 0px ;
                    align-self: center;
                    width: 150px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: black;
                    font-size: 18px;
                    font-family: "ComfortaaRegular";
                    position: absolute;
                }
                .addFileInput
                {
                    opacity: 0;
                    width: 528px;
                }
            }
            .errors
            {
                margin-bottom: 10px;
                margin-top: 25px;
                width: 100%;
                color: red;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
            }
            input 
            {
                width: 100%;
                margin: 0px;
                padding: 0px;
                font-family: "ComfortaaRegular";

                font-size: 16px;
                border: none;
                border-bottom: 1px solid lightgray;
                height: 30px;

                &:focus {
                    outline: none;
                }
            }
            .button 
            {
                align-self: flex-end;
                width: 210.89px;
                height: 40px;
                border-radius: 30px;
            }
        }
    }
    
}



//Mobile 
@media only screen and (max-width: 1028px) {
    .userRegCont 
    {
        .formAndImg
        { 
            width: 90%;
            form
            {
                width: 100%;
                margin-top: 0px;
                .errors
                {
                    width: 100%;
                }
                .addFile
                {
                    width: 100%;
                }
                .addFileInput
                {
                    width: 100% !important; 
                    input 
                    {
                        width: 100% !important;
                    }
                }
            }
        } 

    }
    
}