body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'FuturicaRegular';
  src: url(./assets/fonts/Futurica.ttf) format('truetype');
}
@font-face {
  font-family: 'FuturicaBold';
  src: url(./assets/fonts/FuturicaB.ttf) format('truetype');
}
@font-face {
  font-family: 'FuturicaLight';
  src: url(./assets/fonts/FuturicaL.ttf) format('truetype');
}

@font-face {
  font-family: 'ComfortaaRegular';
  src: url(./assets/fonts/Comfortaa-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'ComfortaaBold';
  src: url(./assets/fonts/Comfortaa-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'ComfortaaLight';
  src: url(./assets/fonts/Comfortaa-Light.otf) format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
